<!DOCTYPE html>
<meta charset="UTF-8"> 
<html>
<head>
	<% eleicao = current_user.election %>
	<title><%= eleicao %></title>
	<script language="JavaScript" type="text/JavaScript">

function fncCheckList(obj) {
	//alert(count)
	if (obj.id < 6) {
		document.getElementById(6).checked = false;
		document.getElementById(7).checked = false;
	} else {
		for (var i = 1; i < 6; i++) {
			document.getElementById(i).checked = false;
		}
		if (obj.id == 6) {
			document.getElementById(7).checked = false;
		} else {
			document.getElementById(6).checked = false;
		}
	}
	var contagem = 0;
	for (var i = 1; i < 6; i++) {
		if (document.getElementById(i).checked) contagem++;
	}
	if (contagem > 3) {
		for (var i = 1; i < 6; i++) {
			document.getElementById(i).checked = false;
		}
	}
}
</script>
</head>

<body>
	<div style="margin-left: 20px; width: 400px; border: 1px solid bisque; padding: 20px;">
	<%= image_tag 'logo.png', style: "margin-left: 40px" %>
	
	<p> <h3><%= eleicao.nome %></h3></p>
	<p> <b>Eleitor:&nbsp;</b><%= current_user.nome %></p>
	<p> <b>Login: &nbsp;</b><%= current_user.documento %></p>
	<p></p>

	<p>Escolha até três candidatos</p>
	<%= form_for :vote do |f| %> 
	<ul style="list-style-type: none;">
		<% for i in 0...@votos.size do %>
			<% candidato = @votos[i].candidate %>
			<li><input type="checkbox" name="votos[<%=candidato.id%>]" value="<%=candidato.id%>" id="<%=candidato.id%>" onclick="javascript:fncCheckList(this);"> <%= candidato.nome %></li>

		<% end %>
		<li><input type="checkbox" id="6" name="votos[6]" value="6" onclick="fncCheckList(this)"> Voto Branco</li>
		<li><input type="checkbox" id="7" name="votos[7]" value="7" onclick="fncCheckList(this)"> Voto Nulo</li>
	</ul>
	<p></p>
	<p></p>
	<p>

		<%= f.submit "    Votar     ", class: "btn btn-success", style: "margin-left: 30px; width: 110px;" %>
		<%= button_to "Cancelar", '/logout', style: "margin-left: 40px", class:"btn btn-danger" %></p>
	<% end %>

	<!--<button style="background-color: darkseagreen">Confirmar voto</button><span style="padding-left: 5em"></span>-->
<!--< % = form_for(@vote) do |f| %>  -->
  <!--<div class="field"> 
    < % = f.label :message %><br> 
    < % = f.text_area :content %> 
  </div> -->
  <!--<div class="actions"> 
    < % = f.submit "Confirma voto" %> 
  </div> 
< % end % >-->


<!--< % = form_for :voto do |f| %>-->
<!--#, url: action: 'create'-->
<!--	<input type="hidden" name="id" value=< %= params["format"] %>/>
	<input type="hidden" name="eleicao" value=< %= @eleicao.id %>/>
	<ul>
		< % for candidato in @candidatos %>
		<li>
			<input type="checkbox" name="votos[< %= candidato.id %>]" value="< %= candidato.id %>" id="< % = candidato.id %>" onclick="javascript:fncCheckList(this);">-->
			<!--< % = f.check_box candidato % >-->
			<!--< % = candidato.nome %>
			</input>
		</li>
		< % end %>
	</ul>
	< % ja_votou = !(Voto.find(:all, conditions: { pessoa_f_id: current_user.id})).empty?
	if ja_votou %>
		<p><b>Usuário já possui votos computados, nova votação não aceita.</b></p>
	< % else	%>
		< % = button_to 'Confirmar voto', "/votado", class: 'button.skip' %>
	< % end %>-->
	<!-- / votado -->
	<!--< % = link_to 'Confirmar o voto', confirmar_votacao_path %>-->
<!--< % end %>-->

	<!--<button style='background-color: crimson'></button>-->
	
	</div>
</body>

</html> 